@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .nav-title {
    @apply w-[250px] h-[55px] ml-[25px] rounded-[10px] flex items-center;
  }

  .play-bar-btn {
    @apply w-[30px] h-[30px] hover:w-[35px] hover:h-[35px] m-auto hover:filter hover:brightness-150;
  }

  .search-result-item {
    @apply hover:bg-gray-600 hover:text-green p-2 rounded-lg text-h4-light flex items-center;
  }

  .search-result-subtitle {
    @apply text-tag-light text-gray-300 brightness-75;
  }

  .search-result-image {
    @apply rounded-sm shadow-sm shadow-white-50 border-solid border-white-50;
  }
}

@layer utilities {
  .scrollbar::-webkit-scrollbar {
    width: 15px;
    height: 15px;
  }

  .scrollbar::-webkit-scrollbar-track {
    background-color: transparent;
    mix-blend-mode: difference;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: #646464;
    border-radius: 100vh;
    border: 3px solid #121212;
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: #c4c4c4;
  }

  .custom-select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
  }

  .custom-select option {
    background-color: black;
  }

  .loading::after {
    content: "";
    animation: loadingDots 2s linear infinite;
    font-size: 1.5rem;
    display: inline-block;
  }

  .flex-8 {
    flex: 8;
  }
}

@keyframes loadingDots {
  0%,
  100% {
    content: "";
  }
  25% {
    content: ".";
  }
  50% {
    content: "..";
  }
  75% {
    content: "...";
  }
}
